

.foot {
display: flex;
flex-direction: column;
align-items: center;
}

.foot div p {
	color: #D7D29C;
	text-align: center;
}




}


/* Animaciones */

.card:hover {

		transform: translate(2%, -2%);
		background:  violet;
}


.foot img:hover{
transform: scale(1.3);
}