*{
margin: 0;
padding: 0;
font-family: 'Popins', sans-serif;
}

body{


background-color:#5EBDAA;

}

@keyframes fanimado {
	0%{background-position: 0% 50%;}
	50%{background-position: 100% 50%;}
	100%{background-position: 0% 50%;}

}




nav	{background-color:#231a24;}

.noticias	{background-color:#5a4894;}



.suscrib	{background-color:#5a4894;}


.foot {
display: flex;
flex-direction: column;
align-items: center;
}



.foot div p {
	color: #D7D29C;
	text-align: center;
}

footer{
	background-color: #231a24;
	text-align: center;
}


}


/* Animaciones */

.d-flex div:hover {

		transform: translate(2%, -2%);
		background:  violet;
}


.foot img:hover{
transform: scale(1.3);
}

.card:hover{
transform: scale(1.02);
transform: translate(2%, -2%);
background-color: #231a24;
color: #D7D29C;
}

.texto a:hover{
transform: translate(3%, -3%);
}

.card_t {background-color: #5a4894;}